<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @source.color %>
</p>

<p>
  <strong>Editable:</strong>
  <%= @source.editable %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
