<h1>Subcategories</h1>
<%= link_to 'Volver atrás', categories_path %>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Category</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><%= subcategory.name %></td>
        <td><%= subcategory.code %></td>
        <td><%= subcategory.category.name %></td>
        <td><%= link_to ' ', subcategory_foods_path(subcategory), class: "fa fa-search" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
