<%= form_with(model: compound, local: true) do |form| %>
  <% if compound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compound.errors.count, "error") %> prohibited this compound from being saved:</h2>

      <ul>
      <% compound.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :food_id %>
    <%= form.text_field :food_id %>
  </div>

  <div class="field">
    <%= form.label :recipe_id %>
    <%= form.text_field :recipe_id %>
  </div>

  <div class="field">
    <%= form.label :grams %>
    <%= form.text_field :grams %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
