<h1>Recetas</h1>
<br>
<%= form_with url: recipes_list_path, local: true, method: :post do |form| %>
<% @recipes.each do |recipe| %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <%= form.check_box 'recipe[]', {class: 'form-control', style:'display: inline-block; width: 27px;'}, recipe.id, nil %>
        <%= recipe.name %>
      </h4>
      <table class="table">
        <thead>
          <th>Ingrediente o preparación</th>
          <th>Medida casera</th>
          <th>Porción cantidad</th>
          <th>GR/ML</th>
          <th>Calorias</th>
          <th>Proteinas</th>
          <th>H de C g</th>
          <th>Lípido</th>
        </thead>
        <tbody>
        <% recipe.compounds.each do |compound| %>
          <tr>
            <td><%= compound.food.name %></td>
            <td><%= compound.food.homemade_portion %></td>
            <td><%= compound.portions %></td>
            <td><%= compound.grams %></td>
            <td><%= compound.three_formula(compound.food.calories) %></td>
            <td><%= compound.three_formula(compound.food.proteins_g) %></td>
            <td><%= compound.three_formula(compound.food.carbohydrates_g) %></td>
            <td><%= compound.three_formula(compound.food.lipids) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
<% end %>
<% if @recipes.size > 0 %>
<%= form.submit 'Generar minuta', class:'btn btn-success text-white', formtarget:'_blank' %>
<% end %>
<% end %>
