<h1>Alimentos</h1>
<%= link_to 'Volver atr치s', category_subcategories_path(@subcategory.category) %>
<br><br>
<%= link_to "Obetener CSV", "foods.csv", class: "btn btn-info text-white" %>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th style="padding-left:10px;">C칩digo</th>
      <th>Medida casera</th>
      <th>Calorias</th>
      <th>Proteinas (g)</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td style="padding-right:20px; background-color:<%= food.source.color %>;"></td>
        <td style="padding-left:10px;"><%= food.name %></td>
        <td><%= food.code %></td>
        <td><%= food.homemade_portion %></td>
        <td><%= food.calories %></td>
        <td><%= food.proteins_g %></td>
        <% if @recipe %>
        <td><%= link_to 'A침adir a la receta actual', recipe_food_compounds_path(@recipe, food), method: :post, class: "btn btn-success text-white" %></td>
        <% else %>
        <td><%= link_to 'A침adir en una receta nueva', food_recipes_path(food), method: :post, class: "btn btn-success text-white" %></td>
        <% end %>
        <td><%= link_to 'Editar', edit_food_path(food), class: "btn btn-warning text-white"%></td>
        <td><%= link_to 'Eliminar', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
