<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Código</th>
      <th>Medida casera</th>
      <th>Calorias</th>
      <th>Proteinas (g)</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.code %></td>
        <td><%= food.homemade_portion %></td>
        <td><%= food.calories %></td>
        <td><%= food.proteins_g %></td>
        <% unless @recipe.nil? %>
        <td><%= link_to 'Añadir a la receta actual', food_recipes_path(food), method: :patch %></td>
        <% end %>
        <td><%= link_to 'Añadir en una receta nueva', food_recipes_path(food), method: :post %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
