<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @food.code %>
</p>

<p>
  <strong>Portion:</strong>
  <%= @food.portion %>
</p>

<p>
  <strong>Grams:</strong>
  <%= @food.grams %>
</p>

<p>
  <strong>Homemade portion:</strong>
  <%= @food.homemade_portion %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @food.specification %>
</p>

<p>
  <strong>Value:</strong>
  <%= @food.value %>
</p>

<p>
  <strong>Gross weight:</strong>
  <%= @food.gross_weight %>
</p>

<p>
  <strong>Net weight:</strong>
  <%= @food.net_weight %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @food.humidity %>
</p>

<p>
  <strong>Factor atwater:</strong>
  <%= @food.factor_atwater %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @food.calories %>
</p>

<p>
  <strong>Proteins:</strong>
  <%= @food.proteins %>
</p>

<p>
  <strong>Carbohydrates:</strong>
  <%= @food.carbohydrates %>
</p>

<p>
  <strong>Dietary fiber:</strong>
  <%= @food.dietary_fiber %>
</p>

<p>
  <strong>Soluble fiber:</strong>
  <%= @food.soluble_fiber %>
</p>

<p>
  <strong>Insoluble fiber:</strong>
  <%= @food.insoluble_fiber %>
</p>

<p>
  <strong>Lipids:</strong>
  <%= @food.lipids %>
</p>

<p>
  <strong>Saturated fatty acids:</strong>
  <%= @food.saturated_fatty_acids %>
</p>

<p>
  <strong>Monounsaturated fatty acids:</strong>
  <%= @food.monounsaturated_fatty_acids %>
</p>

<p>
  <strong>Polyunsaturated fatty acids:</strong>
  <%= @food.polyunsaturated_fatty_acids %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @food.cholesterol %>
</p>

<p>
  <strong>Carotene:</strong>
  <%= @food.carotene %>
</p>

<p>
  <strong>Retinol:</strong>
  <%= @food.retinol %>
</p>

<p>
  <strong>Vitamin a total:</strong>
  <%= @food.vitamin_a_total %>
</p>

<p>
  <strong>Vitamin b1 mg:</strong>
  <%= @food.vitamin_b1_mg %>
</p>

<p>
  <strong>Vitamin b2 mg:</strong>
  <%= @food.vitamin_b2_mg %>
</p>

<p>
  <strong>Niacin:</strong>
  <%= @food.niacin %>
</p>

<p>
  <strong>Vitamin b4 mg:</strong>
  <%= @food.vitamin_b4_mg %>
</p>

<p>
  <strong>Pyridoxine:</strong>
  <%= @food.pyridoxine %>
</p>

<p>
  <strong>Cobalamin:</strong>
  <%= @food.cobalamin %>
</p>

<p>
  <strong>Folates:</strong>
  <%= @food.folates %>
</p>

<p>
  <strong>Pantothenic acid mg:</strong>
  <%= @food.pantothenic_acid_mg %>
</p>

<p>
  <strong>Vitamin c mg:</strong>
  <%= @food.vitamin_c_mg %>
</p>

<p>
  <strong>Vitamin e mg:</strong>
  <%= @food.vitamin_e_mg %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @food.calcium %>
</p>

<p>
  <strong>Copper:</strong>
  <%= @food.copper %>
</p>

<p>
  <strong>Iron mg:</strong>
  <%= @food.iron_mg %>
</p>

<p>
  <strong>Magnesium mg:</strong>
  <%= @food.magnesium_mg %>
</p>

<p>
  <strong>Phosphorus mg:</strong>
  <%= @food.phosphorus_mg %>
</p>

<p>
  <strong>Potassium mg:</strong>
  <%= @food.potassium_mg %>
</p>

<p>
  <strong>Selenium mg:</strong>
  <%= @food.selenium_mg %>
</p>

<p>
  <strong>Sodium mg:</strong>
  <%= @food.sodium_mg %>
</p>

<p>
  <strong>Zinc mg:</strong>
  <%= @food.zinc_mg %>
</p>

<p>
  <strong>Orac index:</strong>
  <%= @food.orac_index %>
</p>

<p>
  <strong>Total polyphenols:</strong>
  <%= @food.total_polyphenols %>
</p>

<p>
  <strong>Nitrates:</strong>
  <%= @food.nitrates %>
</p>

<p>
  <strong>Nitrites:</strong>
  <%= @food.nitrites %>
</p>

<p>
  <strong>Other1:</strong>
  <%= @food.other1 %>
</p>

<p>
  <strong>Other2:</strong>
  <%= @food.other2 %>
</p>

<p>
  <strong>Other3:</strong>
  <%= @food.other3 %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @food.subcategory %>
</p>

<p>
  <strong>Source:</strong>
  <%= @food.source %>
</p>

<%= link_to 'Edit', edit_food_path(@food), class: "btn btn-warning text-white"%> |
<%= link_to 'Back', foods_path, class: "btn btn-secondary text-white"%>
