
          <%= form_with(model: category, local: true) do |form| %>
                        <% if category.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

                            <ul>
                            <% category.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                            <% end %>
                            </ul>
                          </div>
                        <% end %>
                        <h3 class="text-center text-info">New Categories</h3>
                        <div class="field">

                          <%= form.file_field :Photo%>
                        </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success text-white"%>
  </div>
<% end %>
</div>
